.article1 {
    text-align: center; /* 將文字置中 */
}

.article{
    line-height: 2;
    font-family: Malgun Gothic, 微軟正黑體 ; 
    font-size: 18px;
}

#cardwrap {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.card {
    width:350px;
    height:380px;
    align-items:center;
    justify-content :center;
    text-align:center;
    /* background-color: rgb(232, 228, 228); */
    padding: 50px;
    border-radius:12px;
    /* backdrop-filter:blur(100px); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 36px 40px;
}

.card a {
  text-decoration:none;
  color: black;
}

.card h3 {
    font-family: Malgun Gothic, 微軟正黑體 ; 
    font-size: 25px;
}

.image2::before {
    background-color: rgba(0, 0, 0, 0.5);
    width: 168px;
    height: 210px;
    border-radius: 5px;
    position: absolute;
    content: "";
    transition: background-color 0.5s ease-in-out;
}

.card img {
    max-width: 100%;
    max-height: 210px;
    border-radius: 5px;
}

.image2:hover::before {
    background-color: transparent;
}
